<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>python-logo</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <header>
      <img src="../static/assets/logo.png" alt="Logo" class="logo" />
      <h1>Logo Playground</h1>
    </header>
    <div class="container">
      <div class="left-container" id="resizable">
        <div class="button-bar">
          <button onclick="sendCode()">Run</button>
          <button>Stop</button>
          <button>Button</button>
        </div>
        <div class="textbox">
          <textarea
            id="codeTextarea"
            class="textarea"
            value="{{ code }}"
            placeholder="Type your Logo code here"
          ></textarea>
        </div>
      </div>
      <div class="right-container">*Turtle here*</div>
    </div>
    <script src="../static/script.js"></script>
  </body>
</html>
