<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>python-logo</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <img
        src="{{ url_for('static', filename='assets/logo.png') }}"
        alt="Logo"
        class="logo"
      />
      <h1>Logo Playground</h1>
    </header>
    <div class="container">
      <div class="left-container" id="resizable">
        <div class="tabs">
          <ul class="tabList" id="tabList">
            <li class="addTabButton" id="addTabButton">
              <button onclick="addTab()">+</button>
            </li>
          </ul>
        </div>
        <div class="button-bar">
          <button onclick="sendCode()">Run</button>
          <button>Stop</button>
        </div>
        <div class="textbox">
          <div class="tabContentContainer" id="tabContentContainer"></div>
        </div>
      </div>
      <div class="right-container">*Turtle here*</div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
